<div class="max-w-[1200px] mx-auto px-4 my-16">
    <div class="text-center mb-10">
        <h2 class="text-4xl capitalize font-bold">our gallery</h2>
    </div>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
    @for (data of gallery; track data.id) {
    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="#">
        <img class="rounded-t-lg" [src]="data?.image" [alt]="data?.title" />
      </a>
      <div class="p-5">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ data?.title }}
        </h5>
        @if (data?.description) {
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ data?.description }}
        </p>
        }
      </div>
    </div>
    }
  </div>
</div>
