.banner{
    background-image: url(../../../../../public/images/bg-blood.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height:65vh;
}

.text-shadow {
    text-shadow: 0px 1px 10px rgba(0,0,0,1.0);
}

.shape-bottom {
    bottom: -1px;
}

.shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.shape-fill{
    fill: #fff;
}