<app-cover title="all user list" sub1="Dashboard" sub2="User List"></app-cover>

<div class="container mx-auto my-2 flex justify-end items-center gap-2">
    <app-inputs type="select" defaultPlaceholder="Select Blood Group" [options]="bloodGroups" inputId="bloodGroup" placeholder="Type Here" [(value)]="selectedBloodGroup" (valueChange)="onBloodGroupChanged()"></app-inputs>
    <a
      routerLink="add-carousel"
      class="btn bg-rose-500 hover:bg-rose-400 text-white font-bold py-2 px-4 border-b-4 border-rose-700 hover:border-rose-500 rounded uppercase cursor-pointer"
      (click)="generatePDF()"
    >
      print
    </a>
  </div>

  <div class="mt-4">
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              <th class="px-4 py-3">SL</th>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Phone</th>
              <th class="px-4 py-3">Blood Group</th>
              <th class="px-4 py-3">Address</th>
              <th class="px-4 py-3">Donate Date</th>
              <th class="px-4 py-3">Role</th>
            </tr>
          </thead>
          <tbody
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
          >
          @if (users) {
            @for (user of users; track $index) {
              <tr
                class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400"
              >
                <td class="px-4 py-3 text-xs">{{ $index+1 }}</td>
                <td class="px-4 py-3 text-xs">{{ user?.name }}</td>
                <td class="px-4 py-3 text-xs">{{ user?.phone }}</td>
                <td class="px-4 py-3 text-xs">{{ user?.bloodGroup }}</td>
                <td class="px-4 py-3 text-xs">{{ user?.district }}, {{ user?.division }}</td>
                <td class="px-4 py-3 text-xs">{{ user?.lastDateOfDonate }}</td>
                <td class="px-4 py-3 text-xs">{{ user?.role }}</td>
                <!-- <td class="px-4 py-3 text-sm">
                  <a
                    [routerLink]="['edit-user', user.id]"
                    class="px-2 py-1 font-semibold leading-tight text-rose-700 bg-rose-100 rounded dark:bg-rose-700 dark:text-rose-100 mr-2 inline-block my-2"
                  >
                    Edit
                  </a>
                  <button
                    (click)="onDelete(user.id)"
                    class="px-2 py-1 font-semibold leading-tight text-red-700 bg-rose-100 rounded dark:bg-red-700 dark:text-rose-100 inline-block"
                  >
                    Delete
                  </button>
                </td> -->
              </tr>
            }
          }
          </tbody>
        </table>
      </div>
      <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
      ></div>
    </div>
  </div>



