<section>
  <app-cover
    title="all User list"
    sub1="Dashboard"
    sub2="User List"
  ></app-cover>

  <div class="container mx-auto flex justify-end mt-2">
    <a
      routerLink="add"
      class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded uppercase"
    >
      Add User
    </a>
  </div>

  <div class="mt-4 mx-4">
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              <th class="px-4 py-3">name</th>
              <th class="px-4 py-3">mobileNumber</th>
              <th class="px-4 py-3">gender</th>
              <th class="px-4 py-3">division</th>
              <th class="px-4 py-3">thana</th>
              <th class="px-4 py-3">bloodGroup</th>
              <th class="px-4 py-3">occupation</th>
              <th class="px-4 py-3">college</th>
              <th class="px-4 py-3">dob</th>
              <th class="px-4 py-3">lastDoneteDate</th>
              <th class="px-4 py-3">entryDate</th>
              <th class="px-4 py-3">fullAddress</th>
              <th class="px-4 py-3">postedBy</th>
              <th class="px-4 py-3">Actions</th>
            </tr>
          </thead>
          <tbody
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
          >
            @for (data of users; track $index) {
            <tr
              class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400"
            >
              <td class="px-4 py-3 text-xs">{{ data?.name }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.mobileNumber }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.gender }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.division }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.thana }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.bloodGroup }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.occupation }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.college }}</td>
              <td class="px-4 py-3 text-xs">{{ transform(data?.dob) }}</td>
              <td class="px-4 py-3 text-xs">{{ transform(data?.lastDoneteDate) }}</td>
              <td class="px-4 py-3 text-xs">{{ transform(data?.entryDate) }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.fullAddress }}</td>
              <td class="px-4 py-3 text-xs">{{ data?.postedBy }}</td>
              <td class="px-4 py-3 text-sm">
                <a
                  [routerLink]="['edit', data?.gid]"
                  class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded dark:bg-green-700 dark:text-green-100 mr-2 inline-block my-2"
                >
                  Edit
                </a>
                <button
                  (click)="onDelete(data?.gid)"
                  class="px-2 py-1 font-semibold leading-tight text-red-700 bg-green-100 rounded dark:bg-red-700 dark:text-green-100 inline-block"
                >
                  Delete
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
      ></div>
    </div>
  </div>
</section>
