<section class="hm1_counter">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <div class="mb-5">
          <div class="flex flex-col items-center text-center text-white gap-2">
            <img class="h-10 inline-block" src="images/icon/c1.png" alt="">
            <app-counter [finalCount]="0">Year experience</app-counter>
          </div>
        </div>
        <div class="mb-5">
          <div class="flex flex-col items-center text-center text-white gap-2">
            <img class="h-10 inline-block" src="images/icon/c2.png" alt="">
            <app-counter [finalCount]="44">happy donors</app-counter>
          </div>
        </div>
        <div class="mb-5">
          <div class="flex flex-col items-center text-center text-white gap-2">
            <img class="h-10 inline-block" src="images/icon/c3.png" alt="">
            <app-counter [finalCount]="1">total awards</app-counter>
          </div>
        </div>
        <div class="mb-5">
          <div class="flex flex-col items-center text-center text-white gap-2">
            <img class="h-10 inline-block" src="images/icon/c4.png" alt="">
            <app-counter [finalCount]="77">happy recipient</app-counter>
          </div>
        </div>
    </div>
    
    </div>
  </section>
