<div class="hero py-5">
  <div class="hero-content flex-col">
    <div class="text-center lg:text-left max-w-xl">
      <h1 class="text-5xl font-bold text-rose-600">Login now!</h1>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body" #form="ngForm" (ngSubmit)="onFormSubmit()">
        <app-inputs
          type="number"
          inputId="mobileNumber"
          maxLength="11"
          placeholder="Type Here"
          label="mobileNumber"
          [(value)]="model.mobileNumber"
          [isRequired]="true"
        ></app-inputs>
        <app-inputs
          type="password"
          inputId="password"
          placeholder="Type Here"
          label="password"
          [(value)]="model.password"
          [isRequired]="true"
        ></app-inputs>

        <div class="form-control mt-6">
          <button class="btn btn-error text-white">Login</button>
        </div>
      </form>
    </div>
    <button class="text-red-500" (click)="modal.set(true)">
      Forgot Password? Click here!
    </button>
  </div>
</div>
<sub-banner></sub-banner>

@if (error()) {
<div class="toast toast-top toast-end">
  <div class="alert alert-info">
    <span class="text-white">{{ error() }}</span>
  </div>
</div>
} @if (success()) {
<div class="toast toast-top toast-end">
  <div class="alert alert-success">
    <span class="text-white">{{ success() }}</span>
  </div>
</div>
} @if (modal()) {
<confirm-modal
  title="Please Inform This Mail for Reset Password:
  bandhanblood24@gmail.com"
  url="/login"
  (closeModal)="modal.set(false)"
></confirm-modal>
}
