<div
  (click)="openNewsDetails()"
  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow cursor-pointer"
>
  <img class="rounded-t-lg" [src]="img()" [alt]="title()" />
  <div class="p-5">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-black">
      {{ title() }}
    </h5>
    @if (description) {
    <p class="mb-3 font-normal text-black">
      {{ description?.slice(0, 300) }}
    </p>
    }
  </div>
</div>

@if(showModal){
<news-modal
  [img]="img()"
  [title]="title()"
  [subtitle]=""
  [description]="description"
  (closeNewsDetails)="closeNewsDetails()"
></news-modal>
}
