<div class="hero min-h-screen mb-10">
    <div class="hero-content flex-col lg:flex-row">
      <div class="text-center lg:text-left max-w-xl">
        <h1 class="text-5xl font-bold text-rose-600">Register now!</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
      </div>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
        <form class="card-body"
        #form="ngForm"
        (ngSubmit)="onFormSubmit()">
          <app-inputs type="select" defaultPlaceholder="Select division" [options]="divisions" inputId="division" placeholder="Type Here" label="division" [(value)]="model.division" (valueChange)="onDivisionChanged()" [isRequired]="true"></app-inputs>
          <app-inputs type="select" defaultPlaceholder="Select district" [options]="districts" inputId="district" placeholder="Type Here" label="district" [(value)]="model.district" [isDisabled]="model.division === ''" [isRequired]="true"></app-inputs>
          <app-inputs inputId="name" placeholder="Type Here" label="name" [(value)]="model.name" [isRequired]="true"></app-inputs>
          <app-inputs type="number" inputId="phone" placeholder="Type Here" label="phone" [(value)]="model.phone" [isRequired]="true"></app-inputs>
          <app-inputs type="date" inputId="lastDateOfDonate" placeholder="Type Here" label="last Donate Date" [(value)]="model.lastDateOfDonate"></app-inputs>
          <app-inputs type="password" inputId="password" placeholder="Type Here" label="password" [(value)]="model.password" [isRequired]="true"></app-inputs>
          <app-inputs type="select" defaultPlaceholder="Select Blood Group" [options]="bloodGroups" inputId="bloodGroup" placeholder="Type Here" label="bloodGroup" [(value)]="model.bloodGroup" [isRequired]="true"></app-inputs>
          <app-inputs type="select" defaultPlaceholder="Select Occupation" [options]="occupation" inputId="occupation" placeholder="Type Here" label="occupation" [(value)]="model.occupation" [isRequired]="true"></app-inputs>
          @if (model.occupation == 'Student') {
            <app-inputs inputId="college" placeholder="Type Here" label="college/university" [(value)]="model.college"></app-inputs>
          }
          <app-inputs type="textarea" inputId="describe" placeholder="Type Here" label="describe" [(value)]="model.describe"></app-inputs>
          
          <div class="form-control mt-6">
            <button class="btn btn-error text-white">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  @if (error) {
    <div class="toast toast-top toast-end">
      <div class="alert alert-info">
        <span class="text-white">{{error}}</span>
      </div>
    </div>
  }
  
  @if (success) {
    <div class="toast toast-top toast-end">
      <div class="alert alert-success">
        <span class="text-white">{{success}}</span>
      </div>
    </div>
  }
