<div
  class="max-w-[1200px] mx-auto flex flex-col md:flex-row justify-center items-center gap-1 md:gap-3 lg:gap-5 py-8 md:py-10 lg:py-16"
>
  <div class="w-full text-black">
    <div class="">
      <h2 class="mb-8 text-5xl font-bold">Who We Are</h2>
      <h5 class="mb-8 text-2xl font-semibold">
        We are here not for income, but for outcome
      </h5>
      <p class="text-black text-sm">
        Which is the same as saying through shrinking from toil and pain. These
        cases are perfectly simple and easy to distinguish. In a free hour, when
        untrammelled and when nothing prevents
      </p>
    </div>
  </div>
  <div class="w-full">
    <div class="overflow-hidden">
      <img
        src="images/about/doctor.jpg"
        alt="images not found"
        class="max-w-full h-auto"
      />
    </div>
  </div>
</div>
